In [1]:
# Import dependencies
import pandas as pd
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func

In [19]:
#Load in CSVs from http://nflsavant.com/about.php
data_2020 = "data/pbp-2020.csv"
yr2020_df = pd.read_csv(data_2020)

data_2019 = "data/pbp-2019.csv"
yr2019_df = pd.read_csv(data_2019)

data_2018 = "data/pbp-2018.csv"
yr2018_df = pd.read_csv(data_2018)

data_2017 = "data/pbp-2017.csv"
yr2017_df = pd.read_csv(data_2017)

data_2016 = "data/pbp-2016.csv"
yr2016_df = pd.read_csv(data_2016)

data_2015 = "data/pbp-2015.csv"
yr2015_df = pd.read_csv(data_2015)

data_2014 = "data/pbp-2014.csv"
yr2014_df = pd.read_csv(data_2014)

In [3]:
frames = [yr2020_df, yr2019_df, yr2018_df, yr2017_df, yr2016_df, yr2015_df, yr2014_df]
nfl_data = pd.concat(frames)
#nfl_data

In [4]:
nan_value = float("NaN")
nfl_data.replace("", nan_value, inplace=True)
nfl_data.dropna(subset = ["OffenseTeam"], inplace=True)
#nfl_data

In [5]:
nfl_data = nfl_data.drop(columns = "Challenger")
#nfl_data

In [6]:
nfl_data.dropna(how='all', axis=1, inplace=True)

In [7]:
nfl_data

,GameId,GameDate,Quarter,Minute,Second,OffenseTeam,DefenseTeam,Down,ToGo,YardLine,...,IsTwoPointConversion,IsTwoPointConversionSuccessful,RushDirection,YardLineFixed,YardLineDirection,IsPenaltyAccepted,PenaltyTeam,IsNoPlay,PenaltyType,PenaltyYards
0,2020122602,2020-12-26,2,9,44,LV,MIA,2,10,82,...,0,0,NaN,18,OPP,0,NaN,0,NaN,0
1,2020122602,2020-12-26,2,9,3,LV,MIA,3,19,73,...,0,0,LEFT GUARD,27,OPP,0,NaN,0,NaN,0
2,2020122500,2020-12-25,3,1,17,MIN,NO,3,9,67,...,0,0,NaN,33,OPP,0,NO,1,DEFENSIVE HOLDING,0
3,2020122500,2020-12-25,3,1,12,MIN,NO,1,10,82,...,0,0,NaN,18,OPP,1,NO,1,DEFENSIVE PASS INTERFERENCE,17
4,2020122500,2020-12-25,3,1,6,MIN,NO,1,1,99,...,0,0,LEFT GUARD,1,OPP,0,NaN,0,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45690,2014122815,2014-12-28,3,11,21,SEA,LA,3,8,76,...,0,0,NaN,24,OPP,0,NaN,0,NaN,0
45691,2014122815,2014-12-28,3,11,17,SEA,LA,4,8,76,...,0,0,NaN,24,OPP,0,NaN,0,NaN,0
45692,2014122815,2014-12-28,3,11,13,SEA,LA,0,0,35,...,0,0,NaN,35,OWN,0,NaN,0,NaN,0
45693,2014122815,2014-12-28,3,9,12,SEA,LA,1,10,31,...,0,0,LEFT GUARD,31,OWN,0,NaN,0,NaN,0
45694,2014122815,2014-12-28,4,0,40,SEA,LA,3,13,64,...,0,0,NaN,36,OPP,0,NaN,0,NaN,0

In [8]:
# nfl_data.to_csv("nfldata.csv")

In [15]:
nfl_data.dtypes

GameId                             int64
GameDate                          object
Quarter                            int64
Minute                             int64
Second                             int64
OffenseTeam                       object
DefenseTeam                       object
Down                               int64
ToGo                               int64
YardLine                           int64
SeriesFirstDown                    int64
NextScore                          int64
Description                       object
TeamWin                            int64
SeasonYear                         int64
Yards                              int64
Formation                         object
PlayType                          object
IsRush                             int64
IsPass                             int64
IsIncomplete                       int64
IsTouchdown                        int64
PassType                          object
IsSack                             int64
IsChallenge                        int64
IsChallengeReversed                int64
IsMeasurement                      int64
IsInterception                     int64
IsFumble                           int64
IsPenalty                          int64
IsTwoPointConversion               int64
IsTwoPointConversionSuccessful     int64
RushDirection                     object
YardLineFixed                      int64
YardLineDirection                 object
IsPenaltyAccepted                  int64
PenaltyTeam                       object
IsNoPlay                           int64
PenaltyType                       object
PenaltyYards                       int64
dtype: object

In [24]:
#clean 2019
nan_value = float("NaN")
yr2019_df.replace("", nan_value, inplace=True)
yr2019_df.dropna(subset = ["OffenseTeam"], inplace=True)
clean_2019 = yr2019_df[["Quarter","OffenseTeam","PlayType","IsRush","IsPass"]]
clean_2019.dropna(how='all', axis=1, inplace=True)
clean_2019

<ipython-input-24-85aaa9ba3ea7>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  clean_2019.dropna(how='all', axis=1, inplace=True)

       Quarter OffenseTeam  PlayType  IsRush  IsPass
0            4         LAC      PASS       0       1
1            4         LAC      PASS       0       1
2            4         LAC      PASS       0       1
3            4         LAC      PASS       0       1
4            4         LAC      PASS       0       1
...        ...         ...       ...     ...     ...
42167        2         HOU      RUSH       1       0
42175        1         ARI      PUNT       0       0
42182        3         BAL  KICK OFF       0       0
42184        3          GB  KICK OFF       0       0
42185        2          GB  KICK OFF       0       0

[39078 rows x 5 columns]

In [26]:
#groupby quarter and team
grouped = clean_2019.groupby(['Quarter',"OffenseTeam"])
grouped_2019 = grouped.sum()
grouped_2019

                     IsRush  IsPass
Quarter OffenseTeam
1       ARI              95     119
        ATL             108     141
        BAL             110      99
        BUF             100     119
        CAR             102     117
...                     ...     ...
5       PIT               1       1
        SEA               7      20
        SF                3       5
        TB                0       0
        WAS               0       0

[142 rows x 2 columns]

In [10]:
#import nfl scores csv
scores = "data/NFL_Scores.csv"
score_df = pd.read_csv(scores)
# score_df

In [11]:
new_scores = score_df.rename(columns={"Losser":"Loser"})
new_scores

,Score,PtsW,PtsL,PtTot,PtDif,Winner,Loser,Date
0,31-9,31,9,40,22,Tampa Bay Buccaneers,Kansas City Chiefs,2/7/2021
1,31-26,31,26,57,5,Tampa Bay Buccaneers,Green Bay Packers,1/24/2021
2,38-24,38,24,62,14,Kansas City Chiefs,Buffalo Bills,1/24/2021
3,22-17,22,17,39,5,Kansas City Chiefs,Cleveland Browns,1/17/2021
4,30-20,30,20,50,10,Tampa Bay Buccaneers,New Orleans Saints,1/17/2021
...,...,...,...,...,...,...,...,...
677,37-25,37,25,62,12,Detroit Lions,Washington Redskins,10/31/2010
678,59-14,59,14,73,45,Oakland Raiders,Denver Broncos,10/24/2010
679,15-9,15,9,24,6,Pittsburgh Steelers,Atlanta Falcons,9/12/2010
680,51-45,51,45,96,6,Arizona Cardinals,Green Bay Packers,1/10/2010
681,44-24,44,24,68,20,Kansas City Chiefs,Denver Broncos,1/3/2010

In [12]:
# new_scores.dtypes

In [2]:
play_data = "data/NFL_Play_Data_Final.csv"
nfl_plays = pd.read_csv(play_data)
nfl_plays

,GameId,GameDate,Quarter,Minute,Second,OffenseTeam,DefenseTeam,Team1,Team2,Down,...,FinalScoreSpread_Team1,FinalScoreSpread_Team2,FinalScoreLabel_Team1,FinalScoreLabel_Team2,OvertimeScore_Team1,OvertimeScore_Team2,OvertimeScoreSpread_Team1,OvertimeScoreSpread_Team2,OvertimeScoreLabel1,OvertimeScoreLabel2
0,2014090400,2014-09-04,1,0,20,SEA,GB,SEA,GB,2,...,0,0,Tied,Tied,0,0,0,0,Tied,Tied
1,2014090400,2014-09-04,1,0,59,SEA,GB,SEA,GB,1,...,0,0,Tied,Tied,0,0,0,0,Tied,Tied
2,2014090400,2014-09-04,1,1,25,GB,SEA,SEA,GB,0,...,0,0,Tied,Tied,0,0,0,0,Tied,Tied
3,2014090400,2014-09-04,1,1,25,GB,SEA,SEA,GB,0,...,0,0,Tied,Tied,0,0,0,0,Tied,Tied
4,2014090400,2014-09-04,1,1,25,SEA,GB,SEA,GB,1,...,0,0,Tied,Tied,0,0,0,0,Tied,Tied
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
292909,2021010315,2021-01-03,4,14,22,SF,SEA,SEA,SF,0,...,0,0,Tied,Tied,0,0,0,0,Tied,Tied
292910,2021010315,2021-01-03,4,14,22,SF,SEA,SEA,SF,0,...,0,0,Tied,Tied,0,0,0,0,Tied,Tied
292911,2021010315,2021-01-03,4,14,22,SEA,SF,SEA,SF,1,...,0,0,Tied,Tied,0,0,0,0,Tied,Tied
292912,2021010315,2021-01-03,4,14,26,SF,SEA,SEA,SF,2,...,0,0,Tied,Tied,0,0,0,0,Tied,Tied
292913,2021010315,2021-01-03,4,15,0,SF,SEA,SEA,SF,1,...,3,-3,Won by 3 Pts,Lost by 3 Pts,0,0,0,0,Tied,Tied

In [3]:
nfl_plays.dtypes

GameId                        int64
GameDate                     object
Quarter                       int64
Minute                        int64
Second                        int64
OffenseTeam                  object
DefenseTeam                  object
Team1                        object
Team2                        object
Down                          int64
ToGo                          int64
YardLine                      int64
YardLineFixed                 int64
FieldPosition                object
Yards                         int64
Formation                    object
PlayType                     object
IsRush                        int64
RushDirection                object
IsPass                        int64
PassType                     object
IsIncomplete                  int64
FieldGoalRange                int64
IsTouchdown                   int64
IsFieldGoal                   int64
Description                  object
IsPenalty                     int64
PenaltyTeam                  object
PenaltyYards                  int64
TDPoints                      int64
ExtraPoints                   int64
FGPoints                      int64
SafetyPoints                  int64
PointsOnPlay_Team1            int64
PointsOnPlay_Team2            int64
CurrentScore_Team1            int64
CurrentScore_Team2            int64
CurrentSpread_Team1           int64
CurrentSpread_Team2           int64
CurrentScorePostion_Team1    object
CurrentScorePostion_Team2    object
FinalScore_Team1              int64
FinalScore_Team2              int64
FinalScoreSpread_Team1        int64
FinalScoreSpread_Team2        int64
FinalScoreLabel_Team1        object
FinalScoreLabel_Team2        object
OvertimeScore_Team1           int64
OvertimeScore_Team2           int64
OvertimeScoreSpread_Team1     int64
OvertimeScoreSpread_Team2     int64
OvertimeScoreLabel1          object
OvertimeScoreLabel2          object
dtype: object

In [28]:
engine = create_engine("sqlite:///nfldata.sqlite")

# reflect an existing database into a new model
Base = automap_base()
# reflect the tables
Base.prepare(engine, reflect=True)
print(Base.classes.keys())
#Save reference to the tables
nfl = Base.classes.nfl
scores = Base.classes.scores
plays = Base.classes.plays

['nfl', 'plays', 'scores']

In [35]:
#nfl_data.to_sql(name='nfl', con=engine, if_exists='append', index=False)

In [36]:
# new_scores.to_sql(name="scores", con=engine, if_exists='append', index=False)

In [30]:
# clean_2019.to_sql(name="plays", con=engine, if_exists="append", index=False)